.component{
    width: 50%;
    border: 1px solid #c7bdbd;
    padding: 20px;
}
.alertList ul li{
    list-style-type: circle;
    margin-left: 40px;
    padding-left: 0px;
}
textarea{
    width: 100%;
    resize: none;
}
button{
    margin: 10px;
}
.alertMar{
    margin: 10px!important;
}